nav.navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar-container img {
   position: relative;
   left: 60px;
   top: 5px;
   width: 110px;
}
div ul {
   display: flex;
   justify-content: space-evenly;
   margin-right: 10px;
   font-size: 20px;
   list-style: none;
   font-family: 'Orbitron';
   font-weight: bold;
}
li.list-item {
   margin-right: 35px;
}
.search-icon {
   margin-right: 20px;
}
.search-icon > svg {
   width: 22px;
}
.button-group {
   display: flex;
   position: relative;
   right: 90px;
}
button.nav-button {
   padding: 5px;
   border-radius: 9px;
   width: 131px;
   color: grey;
   background-color: white;
   font-size: 20px;
}
.hero-container {
   padding: 3rem;
   position: relative;
}
span.square {
   position: absolute;
   bottom: 245px;
   left: 137px;
}
.square img {
   position: absolute;
   width: 298px;
   height: auto;
}
span.star {
   position: absolute;
   right: 70px;
   top: 77px;
}
.star img {
   width: 45px;
   height: auto;
}
.globe img {
   width: 50px;
   height: auto;
   position: relative;
   left: 667px;
}
.hero-container {
   padding: 2rem 3rem;
   position: relative;
   display: flex;
}
.hero-container > div > img {
   position: relative;
   bottom: -42px;
   width: 287px;
   height: auto;
}
h1.hero-heading {
   position: relative;
   top: 97px;
   left: 180px;
   font-family: 'Orbitron';
   font-size: 50px;
   width: 680px;
   margin: 1rem;
}
p.hero-description {
   position: relative;
   top: 126px;
   left: 269px;
   font-family: 'Poppins';
   font-size: small;
   width: 550px;
   color: #565656;
   margin: 0;
}
button.button-email {
   position: absolute;
   right: 400px;
   bottom: 40px;
   border-radius: 10px;
   width: 165px;
   height: 31px;
   font-family: 'Orbitron';
   background: white;
   color: #484848;
   font-weight: 200;
}
button.button-join {
   position: absolute;
   right: 290px;
   bottom: 40px;
   border-radius: 10px;
   width: 100px;
   height: 31px;
   font-family: 'Orbitron';
   background: black;
   color: #ffffff;
   font-weight: 200;
}
h4.contact-heading {
   position: relative;
   top: 225px;
   left: 497px;
   font-family: 'Poppins';
   color: gray;
   font-weight: 500;
   width: 91px;
}
.icons {
   width: 236px;
   position: relative;
   top: 221px;
   left: 450px;
}
.icons > span > img {
   margin-right: 12px;
   width: 35px;
}
